*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    font-family : Roboto, Arial;
    background : linear-gradient(90deg, hsl(0, 5%, 89%), hsl(0, 6%, 94%))
} 
h1{
    text-align : center;
    margin : 0.5em 0;
}
p{
    text-align : center;
    max-width : 90ch;
    margin : 0 auto 0.5em auto;;
    color :hsl(0, 0%, 53%);
    font-size : 0.85rem;
    padding : 0 1em;
}
.form-elements{
    display : grid;
    height : 50px;
    font-size : 0.85em;
    margin : 0.5em;
    font-weight : bold
}
input {
    height : 100%;
    border : 2px solid black;
    border-radius: 3px;
    padding : 0.5rem;
    color : hsl(0, 1%, 31%);
    font-weight : bold;
}
.checkbox{
    display : flex;
    justify-content: flex-start;
    align-items : center;
    margin : 0.5em;
    gap : 0.5rem;
    font-weight : bold;
}

input[type="checkbox"] {
    width : 15px;
    height : 15px;
    accent-color:  hsl(0, 1%, 31%);
}

.buttons{
    display : flex;
    gap : 1em;
    justify-content: center;
}

button{
    padding : 0.75em 1.5em;
    background-color: black;
    color : white;
    font-weight : bold;
    border-radius : 5px;
    border : none;
    margin : 0.5em;
    cursor : pointer;
    transition : transform 500ms ease-out;
    will-change: transform;
}
button:hover{
    background-color :hsl(0, 1%, 14%);
}
button:active{
    transform : scale(1.1)
}
.button-container{
    text-align : center;
    margin : 1em 0;
}
dialog{
    margin : 0 auto;
    padding : 1em;
    border : none;
    box-shadow: 0 0 1em hsla(0, 1%, 31%, 0.701);
    border-radius : 0.5em;
    width : 80%;
    max-width : 30em;
    display : none;
    animation : closeModal 1000ms ease-out;
    position: fixed; 
    top : 30%
}

 dialog[open]{
    display : block;
    animation: showModal 1000ms ease-in;
} 


@keyframes showModal {
    from{
        opacity : 0;
        transform: translateY(-30px);
    }
    to{
        opacity : 1;
        transform: translateY(0);
    }
}

@keyframes closeModal{
    from{
        display: block;
        opacity : 1;
        transform: translateY(0px);
    }
    to{
        display : none;
        opacity : 0;
        transform: translateY(30px);
    }
}

.modal::backdrop{
    background: linear-gradient(90deg, hsla(0, 6%, 42%, 0.647), rgba(192, 43, 43, 0.603));
    transition: opacity 0.5s ease;
}
dialog[open]::backdrop {
    opacity : 0.6;
}
.card-container{
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    padding : 1.5em;
    gap : 1em;
}
.card{
    margin : 0 auto;
    height : 10rem;
    padding : 1rem;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;
    box-shadow:  0 0 1em hsla(0, 1%, 31%, 0.701);
    border-radius: 0.5rem;
} 

.card > h5{
    margin-bottom : 0.5em;
}
.read{
    background-color: red;
}
.unread{
    background-color: green;
}

.read:hover{
    background-color: hsla(0, 100%, 50%, 0.695);
}
.unread:hover{
    background-color: hsla(120, 100%, 25%, 0.695);
}